@import "tailwindcss";



body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  background-color: #ffffff00;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


/* index.css */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

p{
  font-family: 'FS-Alvar-Regular' !important;
}

h1{
  font-family: 'FS-Alvar-Bold' !important;
}

h2{
  font-family: 'FS-Alvar-Bold' !important;
}

h3{
  font-family: 'FS-Alvar-Bold' !important;
}

li{
  font-family: 'FS-Alvar-Regular' !important;
}
button{
  font-family: 'FS-Alvar-Regular' !important;
}

input, textarea {
  font-family: 'FS-Alvar-Regular' !important;
}